
	<div id="header" class="white wide"><%= image_tag("begin.png", id: "logo", alt: "BeginAnywhere") %></div>
	
	<div id="navPlaceholder" class="white wide">
		<div id="nav" class="white">
			<ul>
				<li>plain text</li>
				<li>what we do</li>
				<li>talk to us</li>
				<li>blog</li>
			</ul>
			<%= image_tag("logo_backdrop.png", id: "iconBackgrnd", alt: "") %>
			<%= image_tag("b.png", id: "icon", alt: "") %>
		</div>
	</div>

	<div class="white wide">
	<table>
		<tr>
			<th>Name</th>
			<th>Email</th>
		</tr>
		<% @subscribers.each do |subscriber| %>
			<tr>
				<td><%= subscriber.name %></td>
				<td><%= subscriber.email %></td>
			</tr>
		<% end %>
	</table>
	</div>